[submodule "generators/app/templates/public/content/themes/copernicus-blank"]
	path = generators/app/templates/public/content/themes/copernicus-blank
	url = https://psoluch@github.com/wiredot/copernicus-blank
