.gutenberg {
	margin-bottom: 50px;
}

.gutenberg-block {
	@include grid-column( 8, $main-grid );
	@include grid-shift( 2, $main-grid );
	clear: both;
	margin-bottom: 25px;

	@include grid-media($main-grid-tablet) {
		@include grid-column( 10, $main-grid-tablet );
		@include grid-shift( 1, $main-grid-tablet );
	}

	@include grid-media($main-grid-mobile) {
		@include grid-column( 12, $main-grid-mobile );
		@include grid-shift( 0, $main-grid-mobile );
	}
}