.one-column, .two-columns {
	@include grid-container;
}

.aside {
	@include grid-column( 4, $main-grid );
	min-height: 10px;

	@include grid-media($main-grid-tablet) {
		@include grid-column( 4, $main-grid-tablet );
	}

	@include grid-media($main-grid-mobile) {
		display: none;
	}
}

.column-main {
	@include grid-column( 8, $main-grid );
	margin-bottom: 50px;

	@include grid-media($main-grid-tablet) {
		@include grid-column( 8, $main-grid-tablet );
	}

	@include grid-media($main-grid-mobile) {
		@include grid-column( 12, $main-grid-mobile );
	}
}