$wdc-components: ( 'reset', 'button', 'input', 'form', 'select', 'textarea', 'checkbox', 'radio');
$wdc-color-primary: $color-primary;
$wdc-color-secondary: $color-secondary;
$wdc-color-tertiary: $color-tertiary;

$wdc-button-border-radius: 0;