body {
	font-size: 18px;
	background-color: $wdc-color-white;
	height: 100%;
	position: relative;
	font-family: $font-primary;
	font-weight: 300;
	color: $wdc-color-grey-5;
}

a {
	color: $color-primary;

	&:hover {
		color: lighten($color-primary, 20%);
	}
}