<ul class="social navigation">
	<li><a href="https://www.facebook.com/" target="_blank">{{ svg('facebook')|raw }}</a></li>
	<li><a href="https://www.instagram.com/" target="_blank">{{ svg('instagram')|raw }}</a></li>
	<li><a href="https://www.twitter.com/" target="_blank" class="twitter">{{ svg('twitter')|raw }}</a></li>
	<li><a href="https://www.strava.com/" target="_blank" class="strava">{{ svg('strava')|raw }}</a></li>
</ul>